<div class="layui-breadcrumb nepadmin-breadcrumb" lay-filter="nepadmin-breadcrumb">
    <a lay-href="/">primeira página</a>
    <a>Novo modulo</a>
    <a>
        <cite>admin</cite>
    </a>
</div>
<div class="layui-fluid" id="VIEW-module-admin" lay-title="admin Módulo">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-lg12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <h3 class="nepadmin-c-gray">Salvar informações de login</h3>
                    <hr>
                    <p>admin.login(token,userInfo,notKeep)</p>
                    <table class="layui-table">
                        <colgroup>
                            <col width="100">
                            <col width="100">
                            <col>
                            <col width="150">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>parâmetro</th>
                            <th>modelo</th>
                            <th>instrução</th>
                            <th>Valor de amostra</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>token</td>
                            <td>String</td>
                            <td>Credenciais de login do usuário, que serão usadas para verificar o status de login</td>
                            <td>"AjklasdeaAasdklasjd"</td>
                        </tr>
                        <tr>
                            <td>userInfo</td>
                            <td>Mixed</td>
                            <td>Salve informações simples do usuário, você pode usar admin.data()['user'] Acesso</td>
                            <td>{username:'小明'}</td>
                        </tr>
                        <tr>
                            <td>notKeep</td>
                            <td>Boolean</td>
                            <td>Se verdadeiro, efetue login temporariamente e o navegador será fechado e o login será inválido.</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-body">
                    <h3 class="nepadmin-c-gray">sair</h3>
                    <hr>
                    <p>使用 admin.logout() Limpe o status de login atual e vá para a interface de login.</p>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-body">
                    <h3 class="nepadmin-c-gray">JS Página de salto</h3>
                    <hr>
                    <p>admin.navigate('chart/index')</p>
                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-body">
                    <h3 class="nepadmin-c-gray">Sobrecarga Template</h3>
                    <hr>
                    <p>usar admin.render() Recarregue o gerado template。</p>
                    <table class="layui-table">
                        <colgroup>
                            <col width="100">
                            <col width="100">
                            <col>
                            <col width="150">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>parâmetro</th>
                            <th>modelo</th>
                            <th>instrução</th>
                            <th>Valor de amostra</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>elem</td>
                            <td>String/DOM</td>
                            <td>制定容器的 ID 或 DOM</td>
                            <td>"#demo"</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-body">
                    <h3 class="nepadmin-c-gray">Pedido de rede</h3>
                    <hr>
                    <p>admin.get() / admin.post()，使用该函数请求时会在headers中带上登录的 token 信息和 cofing.js 中的 requestHeaders</p>
                    <p>url 参数基础地址请在 config.js 中修改 requestUrl</p>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-body">
                    <h3 class="nepadmin-c-gray">Aumente a camada pop-up</h3>
                    <hr>
                    <p style="margin-bottom: 10px">admin.modal.info / warn / success / error(),usar layer.alert()
                        Implementação, os parâmetros são consistentes com o site oficial。</p>
                    <div class="layui-btn-container">
                        <button class="modal-test layui-btn layui-btn-normal" data-type="info">em formação</button>
                        <button class="modal-test layui-btn layui-btn-warm" data-type="warn">avisar</button>
                        <button class="modal-test layui-btn" data-type="success">sucesso</button>
                        <button class="modal-test layui-btn layui-btn-danger" data-type="error">Erro</button>
                    </div>

                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-body">

                    <h3 class="nepadmin-c-gray">POPUP</h3>
                    <hr>
                    <p style="margin-bottom: 10px">使用 admin.popup() 打开任意网址，使用 layer.open() 实现，参数与官网一致。</p>
                    <button class="layui-btn layui-btn-primary" lay-popup="https://www.layui.com">第三方网页</button>
                    <button class="layui-btn layui-btn-primary" lay-popup="/chart/index">内部网页</button>
                    <pre class="layui-code">
//HTMML 触发
<button class="layui-btn layui-btn-primary" lay-popup="http://www.layui.com">第三方网页</button>
<button class="layui-btn layui-btn-primary" lay-popup="/chart/index">内部网页</button>
<button class="layui-btn layui-btn-primary" lay-popup="{url:'/chart/index'}">绑定对象</button>
//JS 触发
admin.popup({
    //网页地址或本地目录
    url:'index',
    //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
    data:{
        username:'小明',
    }
})
                    </pre>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-body">
                    <h3 class="nepadmin-c-gray">拦截跳转</h3>
                    <hr>

                    <pre class="layui-code">
admin.routeLeave(function(route,nextPath,next){
    // route 当前页面路由信息
    // nextPath 将要去到的路径
    // next() 执行跳转页面
})</pre>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['admin', 'code'], function (admin, code) {
        var $ = layui.jquery;
        var view = $('#VIEW-module-admin');

        view.find('.modal-test').click(function () {
            var type = $(this).attr('data-type');
            var txt = $(this).html();
            admin.modal[type]('你好，我是' + txt + '框！');
        })

        code({encode: true});
    })
</script>