<!--Modelo de referência de página pop-up em branco-->
{{template "public/head_css.html" .}}
{{template "public/head_js.html" .}}

<!-- Basta escrever o conteúdo aqui -->
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body table-responsive">
                <table id="datalist" class="table table-hover table-bordered datatable" width="100%">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>grupo_caracteres</th>
                        <th>Nulo</th>
                        <th>Chave</th>
                        <th>Padrão</th>
                        <th>Extra</th>
                        <th>Comentário</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range $key,$item := .data}}
                    <tr>
                        <td>{{$item.name}}</td>
                        <td>{{$item.type}}</td>
                        <td>{{$item.collation}}</td>
                        <td>{{$item.null}}</td>
                        <td>{{$item.key}}</td>
                        <td>{{$item.default}}</td>
                        <td>{{$item.extra}}</td>
                        <td>{{$item.comment}}</td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>