<!-- Main Quill library -->
<link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet"> 
<script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>
<script src="/static/dist/quill-emoji.js"></script>

<!-- Theme included stylesheets -->
<link href="//cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- cabeçalho do formulário -->
                <div class="box-header with-border">
                    <div class="btn-group col-sm-2 col-md-4">
                        <a class="btn flat btn-sm btn-default BackButton">
                            <i class="fa fa-arrow-left"></i>
                            Retornar
                        </a>
                    </div>
                    <div class="col-sm-4 col-md-6">
                        <h4><strong>Nova Lista</strong></h4>
                    </div>
                </div>
                <!-- Formato -->
                <form id="dataForm" class="form-horizontal dataForm" action="/admin/item_lista/create" method="post"
                    enctype="multipart/form-data">
                    <input type="hidden" name="lista_id" value="{{.lista.Id}}">

                    <table width="95%">
                        <tr>
                            <td >
                                <label class="label-micro">NOME</label>
                                <input readonly type="text" name="nome" id="nome"  autocomplete="off" placeholder="nome" class="layui-input form-control field-text" value="{{.lista.Nome}}">
                            </td>
                        </tr>
                        <tr>
                            <td >
                                <label class="label-micro">DESCRICAO</label>
                                <input style="font-family: monospace;" type="text" name="descricao" id="valor"  autocomplete="off" placeholder="descricao" class="layui-input form-control field-text" value="{{.data.Descricao}}">
                            </td>
                        </tr>
                    </table>
                    <br>
                    <br>                      

                    <!-- parte inferior do formulário -->
                    <div class="box-footer">
                        <div class="col-sm-10 col-md-4">
                            <div class="btn-group">
                                <button type="submit" class="btn flat btn-info dataFormSubmit">
                                    Gravar
                                </button>
                            </div>
                            <div class="btn-group">
                                <button type="reset" class="btn flat btn-default dataFormReset">
                                    Restaurar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    /** validação de formulário **/
    $('#dataForm').validate({
        rules: {
            'nome': {
                required: true,
            },
        },
        messages: {

            'nome': {
                required: "O nome de usuário não pode estar vazio",
            },
        }
        
    });
    
</script>