<!--Página da lista de dados-->
<section class="content">

    <!--filtro de pesquisa principal-->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <form class="form-inline searchForm" id="searchForm" action="/admin/lista/index" method="GET">

                        <div class="form-group">
                            <strong>{{.admin.title}} </strong> | 
                        </div>

                        <div class="form-group">
                            <!-- <label for="nome" text-align="right" class="col-sm-1 control-label">Nome:</label> -->
                            <div class="col-sm-3 col-md-2">
                                <select name="_nome" id="_nome" class="form-control" onchange="searchForm.submit()">
                                    {{range $index, $val := .lista}}
                                        <option value="{{$val.Nome}}" {{if compare $val.Nome $.lista_selecionada}} selected {{end}}>{{$val.Nome}}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
<!--                             <a title="AdicLista" data-toggle="tooltip" class="btn btn-primary btn-sm " href="/admin/lista/add">
                                <i class="fa fa-plus"></i> Nova Lista
                            </a> -->
                            <button class="btn btn-sm btn-info" lay-submit="" lay-filter="nova_lista" ><i class="fa fa-file-text-o"></i> Nova Lista</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <!--topo da lista de dados-->
                <div class="box-header">
                    <div>
                        <a title="Adicionar" data-toggle="tooltip" class="btn btn-primary btn-sm " href="/admin/item_lista/add">
                            <i class="fa fa-plus"></i> Adicionar
                        </a>
                        <a class="btn btn-danger btn-sm AjaxButton" 
                           data-toggle="tooltip" 
                           title="excluir registros selecionados"
                           data-confirm-title="Confirmação de registros selecionados" 
                           data-confirm-content="Tem certeza de que deseja excluir os registros selecionados?"
                           data-confirm-ok-label="Sim"
                           data-confirm-button-cancel="Não"
                           data-id="checked"
                           data-url="/admin/lista/del">
                            <i class="fa fa-trash"></i> excluir
                        </a>

                        <a class="btn btn-success btn-sm ReloadButton" data-toggle="tooltip" title="atualizar">
                            <i class="fa fa-refresh"></i> atualizar
                        </a>
                    </div>
                </div>

                <div class="box-body table-responsive">
                    <table class="table table-hover table-bordered datatable" width="100%">
                        <thead>
                        <tr>
                            <th>
                                <input id="dataCheckAll" type="checkbox" onclick="checkAll(this)" class="checkbox"
                                       placeholder="Selecionar/Cancelar">
                            </th>
                            <!-- <th>Id</th> -->
                            <!-- <th>Nome</th> -->
                            <th>Descrição</th>

                            <th>Ação</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{range $key,$item := .data}}
                            <tr>
                                <td>
                                    <input type="checkbox" onclick="checkThis(this)" name="data-checkbox"
                                           data-id="{{$item.Id}}" class="checkbox data-list-check" value="{{$item.Id}}"
                                           placeholder="escolher/Cancelar">
                                </td>
                                <!-- <td>{{$item.Id}}</td> -->
                                <!-- <td>{{$item.Nome}}</td> -->
                                <td>{{$item.Descricao}}</td>
    
                                <td class="td-do">
                                    <a href="/admin/lista/edit?id={{$item.Id}}"
                                       class="btn btn-primary btn-xs" title="Alterar" data-toggle="tooltip">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="btn btn-danger btn-xs AjaxButton" data-toggle="tooltip" title="excluir"
                                       data-id="{{$item.Id}}" 
                                       data-confirm-title="Confirmação de Exclusão++"
                                       data-confirm-button-ok="Sim"
                                       data-confirm-content='Tem certeza de que deseja excluir a lista:<br><span class="text-red">{{$item.Nome}}</span>??'
                                       data-url="/admin/lista/del">
                                        <i class="fa fa-trash"></i>
                                    </a>
    
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>

                <!-- parte inferior da lista de dados -->
                {{if ne "" .paginate.BootStrapRenderLink}}
                <div class="box-footer">
                    {{ str2html .paginate.BootStrapRenderLink}}
                    <label class="control-label pull-right" style="margin-right: 10px; font-weight: 100;">
                        <small>{{.paginate.Total}} linhas</small>&nbsp;
                        <small>lin/pág</small>
                        &nbsp;
                        <select class="input-sm" onchange="changePerPage(this)">
                            {{range $index, $val := $.admin.per_page_config}}
                            <option value="{{$val}}" {{if eq $val $.admin.per_page}} selected {{end}}>{{$val}}</option>
                            {{end}}
                        </select>
                        &nbsp;
                        <small> Páginas</small>
                    </label>
                </div>
                {{end}}

            </div>
        </div>
    </div>
</section>


<script src="/static/layui/layui.js?s=36"></script>
<script language="javascript">
    var $,form;
    layui.config({
                base : "js/"
        }).use(['form','element','layer','jquery'],function(){
            document.documentElement.style.cursor = 'default';
          form = layui.form; //Somente após esta etapa ser realizada, alguns elementos do formulário serão decorados automaticamente com sucesso
          $ = layui.jquery;
          form.on("submit",function(data) {
                var sub_type = data.elem.getAttribute("lay-filter")

                switch(sub_type) {
                    case 'nova_lista':
                        var modId = layer.open({
                            title: 'Digite o solicitado',
                            closeBtn: false,
                            type: 1,
                            btn: ["Ok","Fechar"],
                            content: '<div style="width: 250px; padding-left: 20px"> ' +
                                       '<label for="nome_lista"> Nome da Nova Lista: </label>' +
                                       '<input type="text" name="nome" id="nome"  autocomplete="on" placeholder="nome" class="layui-input form-control field-text" value="">' +
                                     '</div>',
                            yes: function(index, layero){
                                var listaNome = layero.find('input')[0].value;
                                var data_consulta = $('#data_consulta').val();
                                console.log("nome: ", listaNome);

                                var form_data = $("form").serialize();
                                //alert("AquAtendi");
                                $.post('{{urlfor "ListaController.Create"}}', {lista_nome:listaNome}, function (out) {
                                    //console.log(out);   
                                    
                                    if (out.code > 0) {
                                        document.documentElement.style.cursor = 'default';
                                        //alert("gravado");
                    
                                        flagGravar = 0;

                                        layer.msg("Gravado com sucesso!",{icon: 1},function () {
                                            window.location.reload();
                                        });
                                    } else {
                                        layer.msg(out.message)
                                    }
                                }, "json");
                                
                                layer.close(index);
                            }

                          });     
                        return false;
                        break;
                }
            });
        });

    /** seleciona o lista  */
    $('#nome').select2();

</script>



