<div class="layui-fluid" id="VIEW-index" lay-title="home">
  <div class="nepadmin-pad-tb20">
    <h1 class="nepadmin-lead">Bemvindo a Ponto Fino Bordados</h1>
    <div class="nepadmin-ignore nepadmin-pad-tb10">
      <p>Esta aplicação objetiva o controle de bordados. Cadastros, Pedidos e relatórios.</p>
    </div>
  </div>
  <div class="layui-row layui-col-space15">
    <div class="layui-col-lg8">
      <div class="layui-row layui-col-space15">
        <div class="layui-col-sm4">
          <div class="nepadmin-linecard">
            <p class="nepadmin-linecard-title">Pedidos diário</p>
            <span class="nepadmin-linecard-text">123</span>
            <span class="nepadmin-ignore"> pedidos</span>
          </div>
        </div>
        <div class="layui-col-sm4">
          <div class="nepadmin-linecard nepadmin-br-red">
            <p class="nepadmin-linecard-title">Pedido Pendentes</p>
            <span class="nepadmin-linecard-text">006</span>
            <span class="nepadmin-ignore">pedido</span>
          </div>
        </div>        <div class="layui-col-xs12">
          <div class="layui-row layui-col-space15">
            <div class="layui-col-sm6">
              <div class="layui-card">
                <div class="layui-card-header">Operações rápidas</div>
                <div class="layui-card-body" style="height: 200px;">
                  <div class="layui-row" style="margin-top:15px;">
                    <div class="layui-col-xs3 nepadmin-grid">
                      <span class="layui-icon layui-icon-skin-fill"></span>
                      <p>Pedido</p>
                    </div>
                    <div class="layui-col-xs3 nepadmin-grid">
                      <span
                        class="layui-icon layui-icon-notification-fill"
                      ></span>
                      <p>Bordado</p>
                    </div>
                    <div class="layui-col-xs3 nepadmin-grid">
                      <span class="layui-icon layui-icon-message-fill"></span>
                      <p>Orçamento</p>
                    </div>

                      <a href="#/client/search" class="layui-col-xs3 nepadmin-grid">
                        <span class="layui-icon layui-icon-eye-fill"></span>
                        <p>Emitir OS</p>
                      </a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-lg4">
      <div class="layui-card">
        <div class="layui-card-header">informações do sistema</div>
        <div class="layui-card-body">
          <table class="layui-table">
            <colgroup>
              <col width="100"/>
              <col/>
            </colgroup>
            <tbody>
            <tr>
              <td>Versão Atual</td>
              <td>v1.0.0</td>
            </tr>
            <tr>
              <td>Baseado em quadros</td>
              <td>
                <script type="text/html" template>
                  layui-v{{ layui.v }}
                </script>
              </td>
            </tr>
            <tr>
              <td>principais características</td>
              <td>Página Única / Responsivo / conciso</td>
            </tr>
            <tr>
              <td>Baixe o código fonte</td>
              <td style="padding-bottom: 0;">
                <div class="layui-btn-container">
                  <a
                          href="https://github.com/fanjyy/nep-admin"
                          target="_blank"
                          class="layui-btn layui-btn-danger"
                  ><i class="layui-icon">&#xe965;</i>GITHUB</a
                  >
                  <a
                          href="https://gitee.com/june000/nep-admin"
                          target="_blank"
                          class="layui-btn layui-btn-success"
                  >GITEE</a
                  >
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
</script>
