<div class="layui-fluid" id="VIEW-list-table" lay-title="Pesquisa de clientes">
    <script type="text/html" id="dataListBar">
        <a class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-add-1"></i>Novo</a>
        <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchDel"><i class="layui-icon layui-icon-delete"></i>Apagar</a>
        <div class="layui-inline">
            <input type="text" name="nome" placeholder="Digite o que deseja encontrar" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-inline nepadmin-br-red" >
            <button class="layui-btn layui-btn-primary layui-btn-sm" style="width: 70px;" lay-submit="" lay-filter="search">Pesquisar</button>
            <button class="layui-btn layui-btn-primary layui-btn-sm" style="width: 70px;" lay-event="reset">Restaurar</button>
            <button class="layui-btn layui-btn-primary layui-btn-sm" style="width: 30px;">...</button>
        </div>
    </script>

    <script type="text/html" id="opBar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">editar</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">Apagar</a>
    </script>

    <table class="layui-hide" id="dataList" lay-filter="dataList"></table>

</div>
<script>
    var editObj = null, ptable = null, treeGrid = null, tableId = 'dataList', layer = null;
    
    layui.use(['jquery', 'treeGrid', 'layer', 'admin'], function () {
        var $ = layui.jquery;
        treeGrid = layui.treeGrid;//Muito importante
        layer = layui.layer;
        admin = layui.admin;
        
        //Atualize a página atual
        layui.view.tab.refresh()
        ptable = treeGrid.render({
            id: tableId
            , elem: '#' + tableId
            , url: 'client/lists'
            , cellMinWidth: 100
            , idField: 'mid'//Campo obrigatório
            , treeId: 'mid'//Nome do campo de id da árvore
            , isFilter: false
            , iconOpen: false//e deve exibir o ícone [exibição por padrão]
            , isOpenDefault: false//Se o nó é expandido ou reduzido por padrão [expandido por padrão]
            , height: 'full-100'
            , cellMinWidth: 100
            , size: 'sm' //forma pequena
            , loading: true
            , method: 'post'
            , isPage: true
            , response: {
                statusCode: 200,
            }
            , toolbar: '#dataListBar'
            ,cols:[[ //cabeçalho
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'mid', width: 100, title: 'Id',width:"6%",}
                ,{field: 'nome', title: 'Nome da cliente', sort: true, width:"32%"}
                ,{field: 'contato_nome', title: 'Contato', width:"10%"}
                ,{field: 'telefone1', title: 'Telefone 1', width:"10%"}
                ,{field: 'telefone2', title: 'Telefone 2', width:"10%"}
                ,{field: 'email', title: 'Email', width:"15%"}
                ,{title: 'Ação', align:'center', width: "13%"
                    ,templet: function(d){
                        var html='';
                        var editBtn='<a title="Alterar" class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>';
                        var delBtn='<a title="Excluir" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i></a>';
                        return editBtn+delBtn;                        
                    }
                }
            ]]
        });

        treeGrid.on('tool(' + tableId + ')', function (obj) {
            switch (obj.event) {
                case "del":
                    del(obj);
                    break;
                case "edit":
                    edit(obj);
                    break;
            }
        });
    });

    function del(obj) {
        layer.confirm("Tem certeza que deseja excluir os dados?", {icon: 3,title: 'Confirme', btn: ["Sim","Não"]},
            function (index) {//OK callback
                admin.post({
                    api: "delClient",
                    data: {id: obj.data.mid},
                    success: function (res) {
                        layer.msg(res.msg, {
                            icon: 1,
                            time: 800 //2 segundos desligado (se não configurado, o padrão é 3 segundos)
                        }, function () {
                            layui.view.tab.refresh();
                            obj.del();
                            layer.close(index);
                        });
                    },
                    error: function (res) {
                        layer.msg(res.msg, {
                            icon: 2,
                            time: 800 //2 segundos desligado (se não configurado, o padrão é 3 segundos)
                        }, function () {
                            layui.view.tab.refresh();
                        });
                    },
                })
            }, function (index) {//cancelar
                layer.close(index);
            }
        );
    }

    function edit(obj) {
        //Pular para a págna adicionar
        admin.navigate("/client/save?id=" + obj.data.mid);
    }

    function openorclose() {
        var map = treeGrid.getDataMap(tableId);
        var o = map['102'];
        treeGrid.treeNodeOpen(tableId, o, !o[treeGrid.config.cols.isOpen]);
    }


    function openAll() {
        var treedata = treeGrid.getDataTreeList(tableId);
        treeGrid.treeOpenAll(tableId, !treedata[0][treeGrid.config.cols.isOpen]);
    }

    function getCheckData() {
        var checkStatus = treeGrid.checkStatus(tableId)
            , data = checkStatus.data;
        layer.alert(JSON.stringify(data));
    }

    function radioStatus() {
        var data = treeGrid.radioStatus(tableId)
        layer.alert(JSON.stringify(data));
    }

    function getCheckLength() {
        var checkStatus = treeGrid.checkStatus(tableId)
            , data = checkStatus.data;
        layer.msg('Selecionado:' + data.length + ' Peça');
    }
</script>
